#img-bg {
    background-image: url('https://i.imgur.com/wg6Ludh.jpg');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    background-color: #488170;
}